# ==============================================================================
# CONFIGURATION DES VARIABLES D'ENVIRONNEMENT - TONTINE FRONTEND (PWA)
# ==============================================================================

# URL du Backend (ex: https://votre-backend.onrender.com)
VITE_URL=https://votre-backend-api.onrender.com
